.font-work-sans {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  margin: auto;
}

.banner {
  height: 808px;
  width: 1600px;
  background-image: url('images/banner/banner1.png');
  background-size: cover;
  background-position: center;
  /* display: flex;
  justify-content: flex-end; */
  align-items: center;
  padding: 216px 230px 116px 845px;
  text-align: right;
}

.banner-content {
  /* margin-right: 230px; */
}

.banner-content h1 {
  font-size: 65px;
  font-weight: bold;

  color: #151414;
  height: 228px;
  width: 595px;
  line-height: 76px;

  text-align: right;
  margin-bottom: 24px;
  justify-content: flex-end;

  font-size: 65px;
  font-weight: bold;
  color: #151414;
  margin-bottom: 24px;
}

.banner-content p {
  font-size: 16px;
  margin-bottom: 24px;
  color: #444343;
  line-height: 26px;
  height: 78px;
  width: 494px;
  text-align: right;
  background-color: #f15b22;
}

.banner-content button {
  padding: 21px 25px;
  font-size: 20px;
  background-color: #f15b22;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.fimage {
  height: 898px;
  width: 451px;
}

.failure-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 270px;
}

.fcontent h2 {
  font-style: Bold;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: left;
  height: 94px;
  width: 288px;
  margin-bottom: 24px;
}
.fcontent p {
  width: 416px;
  height: 104px;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.check-list {
  list-style: none;
  padding: 0;
}

.check-list li i {
  color: green;
  margin-right: 8px;
}
.check-list li {
  color: var(--Dark 02, rgba(68, 67, 67, 1));
  font-family: Work Sans;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.myplan h2 {
  /* background-color: #f15b22; */
  width: 179px;
  height: 47px;
  color: var(--Dark 01, rgba(21, 20, 20, 1));
  font-family: Work Sans;
  font-style: Bold;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: 0%;

  margin: 0 auto 56px;
}
.cart-container {
  display: flex;
  gap: 86px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.myplan {
  background: rgba(255, 255, 255, 1);

  margin: 0 auto 135px;
}
.mindset {
  width: 1140px;
  height: 300px;
  background-image: url('images/watch.png');

  justify-items: center;
  align-items: center;
}
