.font-work-sans {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  height: 808px;
  width: 1600px;
  background-image: url('images/banner/banner1.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner-content {
  margin-right: 230px;
}

.banner-content h1 {
  font-size: 65px;
  font-weight: bold;

  color: #151414;
  height: 228px;
  width: 595px;

  text-align: right;
  margin-bottom: 24px;
  justify-content: flex-end;
}

.banner-content p {
  font-size: 16px;
  margin-top: 24px;
  color: #444343;
  line-height: 26px;
  height: 78px;
  width: 494px;
  text-align: right;
  margin-bottom: 32px;
}

.banner-content button {
  padding: 21px 25px;
  font-size: 20px;
  background-color: #f15b22;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.fimage {
}
